/*для всего сайта{*/
.header{
    background-color: grey;
    text-align: center;
}

.mycol{
    padding: 20px 0;
}

.menu{
    margin: 10px;
}

.menu a{
    background-color: #1B3F99;
    color: white;
    padding: 10px;
    display: block;
    text-decoration: none;
    border-radius: 10px;
}

.menu a:hover{
    background-color: #808080;
    color: #1B3F99;
    margin-left: 40px;
}

.sitename{
    padding-top: 2%;
    font-style: italic;
    color: white;
}
body{
    background-color: firebrick;
}
body:hover{
    background-color: #b25504;
}
/*}*/

/*общее{*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

td{
    text-align: center;
}
/*}*/

/*для рулетки{*/
.user{
    background-color: royalblue;
    border-radius: 5px;
    margin: 2px;
    border: 1px solid darkblue;
    width: 40px;
    height: 40px;
}
td.user{
    background-color: gold;
}
input.user:hover,input.user:active{
    width: 50px;
    height: 50px;
}
td.h{
    margin: 3px;
    background-color: peru;
    border: 1px solid darkblue;
}
td.h:hover{
    background-color: royalblue;
}
td.f{
    margin: 3px;
    background-color: grey;
    border: 1px solid darkblue;
}
td.f:hover{
    background-color: gold;
}
/*}*/

/*для часов{*/
span#doc_time{
    border: 5px dashed #5a86ff;
}
/*}*/

/*для викторины{*/
div.jumbotron{
    background: darkred;
}
p#1{
    background: blue;
}
div.right{
    background: green;
}
div.wrong{
    background: red;
}
/*}*/

/*для таблицы Пифагора{*/
.first
{
    width: 20px;
    height: 20px;
    margin: 2px;
    background-color: yellow;
}
/*}*/