.header{
    background-color: grey;
    text-align: center;
}

.mycol{
    padding: 20px 0px;
}

.menu{
    margin: 10px;
}

.menu a{
    background-color: #1B3F99;
    color: white;
    padding: 10px;
    display: block;
    text-decoration: none;
    border-radius: 10px;

}

.menu a:hover{
    background-color: #808080;
    color: #1B3F99;
    margin-left: 40px;
}

.sitename{
    padding-top: 2%;
    font-style: italic;
    color: white;
}



div.jumbotron{
	background: darkred;
}
p#1{
	background: blue;
}
div.right{
	background: green;
}
div.wrong{
	background: red;
}
.first
{
	background-color: yellow;
}
