/*для всего сайта*/
.header{
    background-color: grey;
    text-align: center;
}
.mycol{
    padding: 20px 0;
}
.menu{
    margin: 10px;
}
.menu a{
    background-color: #1B3F99;
    color: white;
    padding: 10px;
    display: block;
    text-decoration: none;
    border-radius: 10px;
}
.menu #first{
    background-color: green;
    color: darkblue;
    padding: 10px;
    display: block;
    text-decoration: none;
    border-radius: 10px;
}
.menu a:hover{
    background-color: red;
    color: goldenrod;
    margin-left: 15px;
}
.menu #first:hover{
    background-color: red;
    color: royalblue;
    margin-left: 15px;
    text-decoration: underline;
}
.sitename{
    padding-top: 2%;
    font-style: italic;
    color: white;
}
body{
    background-color: firebrick;
}
body:hover{
    background-color: #b25504;
}

/*общее*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
td{
    text-align: center;
}

/*для рулетки*/
.user{
    background-color: royalblue;
    border-radius: 5px;
    margin: 2px;
    border: 1px solid darkblue;
    width: 40px;
    height: 40px;
}
td.user{
    background-color: gold;
}
input.user:hover,input.user:active{
    width: 50px;
    height: 50px;
}
td.h{
    margin: 3px;
    background-color: peru;
    border: 1px solid darkblue;
}
td.h:hover{
    background-color: royalblue;
}
td.f{
    margin: 3px;
    background-color: grey;
    border: 1px solid darkblue;
}
td.f:hover{
    background-color: gold;
}

/*для часов*/
span#doc_time{
    border: 5px dashed #5a86ff;
}


/*для викторины*/
div.jumbotron{
    background: darkred;
}
p#1{
    background: blue;
}
div.right{
    background: green;
}
div.wrong{
    background: red;
}

/*для таблицы Пифагора*/
.X td{
    border: 2px seagreen solid;
    padding: 5px;
    border-radius: 2px;
}
.first
{
    border-radius: 2px;
    padding: 5px;
    border: 2px seagreen solid;
    width: 20px;
    height: 20px;
    margin: 2px;
    background-color: yellow;
}
.X{
    background-color: #90ffff;
    border: 1px dashed darkblue;
    border-radius: 5px;
}
.X:hover{
    border: 3px red dashed;
}
.X:active{
    border: 5px blue solid;
}
.X input[type=submit]{
    background-color: #90ffff;
    background: unset;
}
.X input[type=submit]:hover{
    padding: 5px;
}