.header{
    background-color: grey;
    text-align: center;
}
.mycol{
    padding: 20px 0;
}
.menu{
    margin: 10px;
}
.menu a{
    background-color: #1B3F99;
    color: white;
    padding: 10px;
    display: block;
    text-decoration: none;
    border-radius: 10px;
}
.menu #first{
    background-color: green;
    color: darkblue;
    padding: 10px;
    display: block;
    text-decoration: none;
    border-radius: 10px;
}
.menu a:hover{
    background-color: red;
    color: goldenrod;
    margin-left: 15px;
}
.menu #first:hover{
    background-color: red;
    color: royalblue;
    margin-left: 15px;
    text-decoration: underline;
}
.sitename{
    padding-top: 2%;
    font-style: italic;
    color: white;
}
body{
    background-color: firebrick;
}
body:hover{
    background-color: #b25504;
}

span#doc_time{
    border: 5px dashed #5a86ff;
}
a{
    background-color: #1B3F99;
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
}
a:hover{
    background-color: gold;
    color: black;
    margin-left: 15px;
}
a.new{
    display: inline-block;
    width: 30%;
    margin: 15px;
    box-shadow: 0 0 5px 1px,inset 0 0 2px 1px white;
}
a.new:active{
    box-shadow: 0 0 0 0,inset 0 0 5px 2px;
}
form[method=post] input[type=text]{
    background-color: gold;
    display: inline;
    margin-left: 20px;
    padding: 5px;
}
input[type=submit]{
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px 5px,inset 0 0 5px 2px white;
}
input[type=submit]:hover{
    box-shadow: 0 0 8px 3px;
    padding: 10px;
}
input[type=submit]:active{
    box-shadow: 0 0 0 0,inset 0 0 5px 2px;
}